---
title: 'Chapter Index | '
---

.page-wrap
	.row
		.chapter-panel
			= link_to '../one/001' do		
				.section
					= image_tag 'images/vacationland_1_cover_small.gif'
				.section
					%label #1
				.section
					= image_tag '/images/vacationland_banner1.jpg'
		.chapter-panel
			= link_to '../two/068' do
				.section
					= image_tag '../images/vacationland_2_cover_small.gif'
				.section
					%label #2
				.section
					= image_tag '../images/vacationland_banner2.jpg'
		.chapter-panel
			= link_to '../three/143' do
				.section
					= image_tag '../images/vacationland_3_cover_small.gif'
				.section
					%label #3
				.section
					= image_tag '../images/vacationland_banner3.jpg'
