---
title: 'The Lonesome Era | '
---

<div class='page-wrap'>
	<div class='row'>
		<div class='page-view'>
      <% link_to '1/001.html' do %>
			<%= image_tag '/images/lonesome-era/cover-600.jpg' %>
      <% end %>
    </div>  
    
    <h1>Chapters</h1>

    <div class="buttons nav-buttons">
        <%= link_to 'One', '1/001.html', :class=>'nav-button' %>  
        <%= link_to 'Two', '2/001.html', :class=>'nav-button' %>
        <%= link_to 'Three', '3/001.html', :class=>'nav-button' %>
        <%= link_to 'Four', '4/001.html', :class=>'nav-button' %>
        <%= link_to 'Five', '5/001.html', :class=>'nav-button' %>
    
    </div>  
    <div class="preload"><%= link_to '', '001' %></div>
  </div>  
</div>  