<div id="offcanvas">
  <ul>
    <li><%= link_to 'Home','/index.html' %></li>
    <li><hr></li>
    <li><%= link_to 'About','/about.html' %></li>
    <li><hr></li>
    <li><%= link_to 'Comics','/chapterindex.html' %></li>
    <li><hr></li>
    <li><%= link_to 'Store', 'https://ohioisforsale.bigcartel.com/products', :target =>'_blank' %></li>
    <li><hr></li>
    <li><%= link_to 'Press', '/press.html' %></li>
<!--     <li><hr></li>
    <li><%= link_to 'Support', '/support.html' %></li> -->
    <li><hr></li>
    <li><%= link_to 'Contact', '/contact.html' %></li>
  </ul>
</div> 