<nav>
  <ul>
    <li><%= link_to 'Comics','/chapterindex.html' %></li>
    <li><%= link_to 'Shop', 'http://ohioisforsale.bigcartel.com/', :target =>'_blank' %></li>
    <li><%= link_to 'Press', '/press.html' %></li>
    <!-- <li><%= link_to 'Support', '/support.html' %></li> -->
    <li><%= link_to 'Contact', '/contact.html' %></li>
  </ul>
</nav>