---
title: 'Chapter 1 | '
---

<div class='page-wrap'>
	<div class='row'>
		<div class='page-view ohio-one'>
      <% link_to '01.html' do %>
			<%= image_tag '/images/cover-large-1.jpg' %>
      <% end %>
    </div>  

    <div class="container">

      <article class="post">
        <%= image_tag '/images/pages/chapter-one/ohio_page01_gray.gif' %>
      </article>

      <article class="post">
        <%= image_tag '/images/pages/chapter-one/ohio_page02_gray.gif' %>
      </article>

      <article class="post">
        <%= image_tag '/images/pages/chapter-one/ohio_page03_gray.gif' %>
      </article>
      
    </div>
  
    <div class="buttons">
      <div class="button right">  
        <%= link_to 'Next Page', '21.html', :class => "pagination__next" %>
      </div>  
    
    </div>  
    <div class="preload"><%= link_to '', '01' %></div>
  </div>  
</div>      

