---
title: 'Index | '
---

%h3 Read Some Stuff For Free
.content-row

	.column
		
		.link-card
			= link_to 'chapter-one/index.html' do
				.img
					= image_tag '/images/cover-large-1.jpg', :class => 'img-resize'
				.text-wrap	
					%h2.strong Issue #1 
					%p Originally self published in 2013. Included in the 2016 collection from Alternative Comics.		

	.column
		
		.link-card
			= link_to 'chapter-two/index.html' do
				.img
					= image_tag '/images/cover-large-2.jpg', :class => 'img-resize'
				.text-wrap		
					%h2.strong Issue #2
					%p Originally self published in 2013. Included in the 2016 collection from Alternative Comics.		
		
	.column
		
		.link-card	
			= link_to 'chapter-six/index.html' do
				.img
					= image_tag '/images/cover-large-6.jpg', :class => 'img-resize'
				.text-wrap	
					%h2.strong Issue #6	
					%p Self-published in 2015.		

.content-row
	.column
		
		.link-card					
			= link_to 'chapter-nine/index.html' do	
				.img
					= image_tag '/images/cover-large-9.jpg', :class => 'img-resize'
				.text-wrap		
					%h2.strong Issue #9
					%p Self published in 2016.

	.column
		.link-card
			= link_to 'julian-in-purgatory/index.html' do		
				.img
					= image_tag '/images/cover-large-julian.jpg', :class => 'img-resize'
				.text-wrap	
					%h2.strong Julian In Purgatory	
					%p Read the first chapter of my new book – out now!

	.column			