---
title: 'Chapter Index | '
---

.page-wrap
	.row
		.page-view
			.chapter-panel
				= link_to 'chapter-one/index.html' do		
					.section
						= image_tag '/images/cover-large-1.jpg'

			.chapter-panel
				= link_to 'chapter-two/index.html' do
					.section
						= image_tag '/images/cover-large-2.jpg'

			.chapter-panel
				= link_to 'chapter-three/index.html' do
					.section
						= image_tag '/images/cover-large-3.jpg'

			.chapter-panel
				= link_to 'chapter-four/index.html' do		
					.section
						= image_tag '/images/cover-large-4.jpg'

			.chapter-panel
				= link_to 'chapter-five/index.html' do		
					.section
						= image_tag '/images/cover-large-5.jpg'
									
			.chapter-panel
				= link_to 'chapter-six/index.html' do		
					.section
						= image_tag '/images/cover-large-6.jpg'

			.chapter-panel
				= link_to 'chapter-seven/index.html' do		
					.section
						= image_tag '/images/cover-large-7.jpg'
							
			.chapter-panel
				= link_to 'chapter-eight/index.html' do		
					.section
						= image_tag '/images/cover-large-8.png'

			.chapter-panel
				= link_to 'chapter-nine/index.html' do		
					.section
						= image_tag '/images/cover-large-9.jpg'