---
title: 'Index | '
---

.chapter-index
	.row
		.page-view
			.chapter-panel
				.chapter-panel-image
					= link_to 'chapter-one/index.html' do		
						.section
							= image_tag '/images/cover-large-1.jpg'
				%p Issue one. Originally self published in 2013. Included in the 2016 collection from Alternative Comics.		

			%hr
				
			.chapter-panel
				.chapter-panel-image
					= link_to 'chapter-two/index.html' do
						.section
							= image_tag '/images/cover-large-2.jpg'
				%p Issue two. Originally self published in 2013. Included in the 2016 collection from Alternative Comics.		
			
			%hr
									
			.chapter-panel
				.chapter-panel-image
					= link_to 'chapter-six/index.html' do		
						.section
							= image_tag '/images/cover-large-6.jpg'
				%p Issue six. 2015.		

			%hr
			
			.chapter-panel
				.chapter-panel-image
					= link_to 'chapter-nine/index.html' do		
						.section
							= image_tag '/images/cover-large-9.jpg'
				%p Issue nine. 2016.

			%hr
			
			.chapter-panel
				.chapter-panel-image
					= link_to 'julian-in-purgatory/1/index.html' do		
						.section
							= image_tag '/images/cover-large-julian.jpg'
				%p Parts one and two (of three) available now.