---
title: 'Chapter Index | '
---

.page-wrap
	.row
		.chapter-panel
			= link_to 'chapter-one/01.html' do		
				.section
					= image_tag '../images/cover-1.gif'
				.section
					%label #1
				.section
					= image_tag '../images/ohio_banner1.jpg'
		.chapter-panel
			= link_to 'chapter-two/01.html' do
				.section
					= image_tag '../images/cover-2.gif'
				.section
					%label #2
				.section
					= image_tag '../images/ohio_banner2.jpg'
		.chapter-panel
			= link_to 'chapter-three/01.html' do
				.section
					= image_tag '../images/cover-3.gif'
				.section
					%label #3
				.section
					= image_tag '../images/ohio_banner3.jpg'
		.chapter-panel
			= link_to 'chapter-four/01.html' do		
				.section
					= image_tag '../images/cover-4.gif'
				.section
					%label #4
				.section
					= image_tag '../images/ohio_banner4.jpg'	
		.chapter-panel
			= link_to 'chapter-five/01.html' do		
				.section
					= image_tag '../images/cover-5.gif'
				.section
					%label #5
				.section
					= image_tag '../images/ohio_banner5.jpg'													
		.chapter-panel
			= link_to 'chapter-six/01.html' do		
				.section
					= image_tag '../images/cover-6.gif'
				.section
					%label #6
				.section
					= image_tag '../images/ohio_banner6.jpg'
		.chapter-panel
			= link_to 'chapter-seven/01.html' do		
				.section
					= image_tag '../images/cover-7.gif'
				.section
					%label #7
				.section
					= image_tag '../images/ohio_banner7.jpg'								
