---
title: ''
---

.bg-wrap
	.bg-inner-wrap
		= image_tag '/images/banner-1440.gif', :class=>'bg-img'
	/ .button-container.flex--center
	/ 	.button.action-button.button-large
	/ 		= link_to "Chapter Index", "/chapterindex.html"
.clear


.page-wrap
	%hr
	.column.left.column-outer
	
		.column.left.column-inner
		
			= image_tag '/images/cover-large-julian.jpg', :class=>'img-resize'
		.column.right.column-inner
			.text-wrap
				%h2.strong Read the latest thing
				%p 
					Julian's girlfriend kicks him out, and now he's out of money & drugs with no place to crash. Part one of three.

				.button.action-button 
					= link_to 'Read part one', 'julian-in-purgatory/index.html'

	.column.left.column-outer
		.column.left.column-inner
			= image_tag '/images/lonesome_era_cover_large.gif', :class=>'img-resize'

		.column.right.column-inner
			.text-wrap
				%h2.strong News
				%p 
					August 17, 2019 — I’ll be signing advance copies of my new book at 
					= link_to "FlameCon", "https://www.flamecon.org/", :target=>'blank'
					in Times Square!

				.button.action-button
					= link_to "Read a preview", "lonesome-era-preview/index.html"

	%hr.mobile-hide		
	.column.left.column-outer
		.column.left.column-inner
		
			= image_tag '/images/cover.jpg', :class=>'img-resize'
		.column.right.column-inner
			.text-wrap
				%h2.strong Buy the book
				%p Issues 1 - 5 collected into one big book, published by Alternative Comics.


				.button.action-button 
					= link_to 'Buy the book', 'http://indyworld.com/imprints/alternative-comics/jon-allen/ohio-is-for-sale/', :target=>'blank'		
	.column.left.column-outer
		.column.left.column-inner
			= image_tag '/images/cover-large-1.jpg', :class=>'img-resize'

		.column.right.column-inner
			.text-wrap
				%h2.strong Chapter Index
				%p A bunch of issues are here for free.

				.button.action-button
					= link_to "Read some comics", "/chapterindex.html"	

	%hr.mobile-hide		
	.column.left.column-outer
		.column.left.column-inner
			= image_tag '/images/theartist.gif', :class=>'img-resize'

		.column.right.column-inner
			.text-wrap
				%h2.strong Support
				%p Follow me on social media, buy some comics, or just throw me a few bucks.

				.button.action-button
					= link_to "Support the artist", "/support.html"		
									
.clear				