---
title: ''
---

.bg-wrap
	.bg-inner-wrap
		= image_tag '/images/banner-6-4-7.gif', :class=>'bg-img'
	/ .button-container.flex--center
	/ 	.button.action-button.button-large
	/ 		= link_to "Chapter Index", "/chapterindex.html"
.clear


.page-wrap
	%hr
	.column.left.column-outer
	
		.column.left.column-inner
			= link_to 'julian-in-purgatory/1/index.html' do
				= image_tag '/images/cover-large-julian.jpg', :class=>'img-resize'
		.column.right.column-inner
			.text-wrap
				%h2.strong Check out next thing
				%p 
					Julian's girlfriend kicks him out, and now he's out of money & drugs with no place to crash. Read the first chapter now!

				.button.action-button 
					= link_to 'Read the first chapter', 'julian-in-purgatory/index.html'

	.column.left.column-outer
		.column.left.column-inner
			= link_to "https://www.facebook.com/events/2524386771126146/", :target=>'blank' do
				= image_tag '/images/lonesome_era_cover_large.gif', :class=>'img-resize'

		.column.right.column-inner
			.text-wrap
				%h2.strong New book is out!
				%p 
					My new book is now available!
					Go to
					= link_to "Iron Circus", "https://ironcircus.com/product/the-lonesome-era/", :target=>'blank'
					and grab a copy! (Also available in e-format)

				.button.action-button
					= link_to "Buy the book", "https://ironcircus.com/product/the-lonesome-era/", :target=>'blank'

	%hr.mobile-hide		
	.column.left.column-outer
		.column.left.column-inner
			= link_to 'http://indyworld.com/imprints/alternative-comics/jon-allen/ohio-is-for-sale/', :target=>'blank' do
				= image_tag '/images/cover.jpg', :class=>'img-resize'
		.column.right.column-inner
			.text-wrap
				%h2.strong Buy the book
				%p Issues 1 - 5 collected into one big book, published by Alternative Comics.


				.button.action-button 
					= link_to 'Buy the book', 'http://indyworld.com/imprints/alternative-comics/jon-allen/ohio-is-for-sale/', :target=>'blank'		
	.column.left.column-outer
		.column.left.column-inner
			= link_to "/chapterindex.html" do
				= image_tag '/images/cover-large-1.jpg', :class=>'img-resize'

		.column.right.column-inner
			.text-wrap
				%h2.strong Chapter Index
				%p A bunch of issues are here for free.

				.button.action-button
					= link_to "Read some comics", "/chapterindex.html"	

	%hr.mobile-hide		
	.column.left.column-outer
		.column.left.column-inner
			= link_to "/support.html" do
				= image_tag '/images/theartist.gif', :class=>'img-resize'

		.column.right.column-inner
			.text-wrap
				%h2.strong Support
				%p Follow me on social media, buy some comics, or just throw me a few bucks.

				.button.action-button
					= link_to "Support the artist", "/support.html"		
									
.clear				