---
title: ''
---

.bg-wrap
	.bg-inner-wrap
		= image_tag '/images/banner-1440.gif', :class=>'bg-img'
	/ .button-container.flex--center
	/ 	.button.action-button.button-large
	/ 		= link_to "Chapter Index", "/chapterindex.html"
.clear


.page-wrap
	%hr
	.column.left.column-outer
	
		.column.left.column-inner
			= link_to 'julian-in-purgatory/1/index.html' do
				= image_tag '/images/cover-large-julian.jpg', :class=>'img-resize'
		.column.right.column-inner
			.text-wrap
				%h2.strong Read the latest thing
				%p 
					Julian's girlfriend kicks him out, and now he's out of money & drugs with no place to crash. Parts one and two (of three) now up!

				.button.action-button 
					= link_to 'Read this one', 'julian-in-purgatory/1/index.html'

	.column.left.column-outer
		.column.left.column-inner
			= link_to "https://www.facebook.com/events/2524386771126146/", :target=>'blank' do
				= image_tag '/images/lonesome_era_cover_large.gif', :class=>'img-resize'

		.column.right.column-inner
			.text-wrap
				%h2.strong News
				%p 
					.strong
						Sunday, October 20, 2019
						%br
						7pm
						%br
						KGB Bar, NYC
					%br
					My new book is coming out, and I'll be selling copies and doing a reading at
					= link_to "KGB Bar", "http://www.kgbbar.com/", :target=>'blank'
					in New York with 
					= link_to "Alex Krokus,", "https://www.instagram.com/alexkrokus/?hl=en", :target=>'blank'
					= link_to "Jeffrey Lewis,", "https://www.instagram.com/jeffreylewisband/?hl=en", :target=>'blank'
					and 
					= link_to "Jackie Ferrentino.", "https://www.instagram.com/hullojackie/?hl=en", :target=>'blank'
					%br
					%br
					Check out 
					= link_to "Facebook event page", "https://www.facebook.com/events/2524386771126146/", :target=>'blank'
					for more details!
					


				.button.action-button
					= link_to "Read a preview", "lonesome-era-preview/index.html"

	%hr.mobile-hide		
	.column.left.column-outer
		.column.left.column-inner
			= link_to 'http://indyworld.com/imprints/alternative-comics/jon-allen/ohio-is-for-sale/', :target=>'blank' do
				= image_tag '/images/cover.jpg', :class=>'img-resize'
		.column.right.column-inner
			.text-wrap
				%h2.strong Buy the book
				%p Issues 1 - 5 collected into one big book, published by Alternative Comics.


				.button.action-button 
					= link_to 'Buy the book', 'http://indyworld.com/imprints/alternative-comics/jon-allen/ohio-is-for-sale/', :target=>'blank'		
	.column.left.column-outer
		.column.left.column-inner
			= link_to "/chapterindex.html" do
				= image_tag '/images/cover-large-1.jpg', :class=>'img-resize'

		.column.right.column-inner
			.text-wrap
				%h2.strong Chapter Index
				%p A bunch of issues are here for free.

				.button.action-button
					= link_to "Read some comics", "/chapterindex.html"	

	%hr.mobile-hide		
	.column.left.column-outer
		.column.left.column-inner
			= link_to "/support.html" do
				= image_tag '/images/theartist.gif', :class=>'img-resize'

		.column.right.column-inner
			.text-wrap
				%h2.strong Support
				%p Follow me on social media, buy some comics, or just throw me a few bucks.

				.button.action-button
					= link_to "Support the artist", "/support.html"		
									
.clear				