---
title: ''
---

.bg-wrap
	.bg-inner-wrap
		= image_tag '/images/banner-4.gif', :class=>'bg-img'
	.button-container.flex--center
		.button
			= link_to "Read From The Beginning", "chapter-one/index.html"
.clear
%hr
.page-wrap
	.column.left.column-outer
		= link_to 'http://indyworld.com/imprints/alternative-comics/jon-allen/ohio-is-for-sale/', :target=>'_blank', :class=>"link-wrap" do
			.column.left.column-inner
			
				= image_tag '/images/cover.jpg', :class=>'img-resize'
			.column.right.column-inner
				.text-wrap
					%h2.strong Buy the book
					%p Issues 1 - 5 collected into one big book, published by Alternative Comics.	
	.column.right.column-outer
		= link_to 'julian-in-purgatory/index.html', :class=>"link-wrap" do
			.column.left.column-inner
			
				= image_tag '/images/cover-large-julian.jpg', :class=>'img-resize'
			.column.right.column-inner
				.text-wrap
					%h2.strong Read the latest thing
					%p 
						Julian's girlfriend kicks him out, and now he's out of money & drugs with no place to crash. Part one of three.

							

					
.clear				