---
title: ''
---

.bg-inner-wrap
	.centered-container
		%h2 T-Shirts Now Available!!
		.action-button
			= link_to "Shop Now", "https://ohioisforsale.threadless.com/", :target=>'_blank'
.clear

.page-wrap

	.content-row	
		.column
			%h2 Graphic Novels
			
			.link-card
				= link_to "https://ironcircus.com/?product=julian-in-purgatory", :target=>'_blank' do
					.img	
						= image_tag '/images/julian-cover.jpg', :class=>'img-resize'

					.text-wrap
						%h2.strong Julian In Purgatory

						%p Julian is going to change his life! Get off the couch, get a job, stop disappointing everyone he loves. But first: maybe a couple of pills?
						%p Published in 2021 by Iron Circus.

		.column
			%h2.mobile-hide &nbsp;
			
			.link-card
				= link_to "https://ironcircus.com/?product=the-lonesome-era", :target=>'_blank' do
					.img	
						= image_tag '/images/img_5054.jpg', :class=>'img-resize'

					.text-wrap
						%h2.strong The Lonesome Era

						%p Camden is crushing hard on his best buddy and all-around bad influence, Jeremiah. Young, bored, and trapped in a decomposing Rust Belt town, he goes along with every awful idea, every hair-brained plan, and every threat to life and limb Jeremiah can come up with. But how much longer can this go on?
						%p Published in 2019 by Iron Circus.
					
		.column
			%h2 Read Some Stuff For Free
			
			.link-card
				= link_to '/chapterindex.html' do			
					.img
						= image_tag '/images/julianbytheriver.png', :class=>'img-resize'

					.text-wrap
						%p Read the first issue of Ohio Is Sale, a sample chapter of the latest book, and more.

		/ .column
		/ 	%h2.mobile-hide &nbsp;
				
		/ 	.link-card
		/ 		= link_to 'https://indyworld.com/imprints/alternative-comics/jon-allen/ohio-is-for-sale/', :target=>'_blank' do
		/ 			.img	
		/ 				= image_tag '/images/img_5055.jpg', :class=>'img-resize'
		/ 			.text-wrap
		/ 				%h2.strong Ohio Is For Sale
						
		/ 				%p Three cartoon animals live together in the American midwest. They get a job, get sick, and throw a party. Their lives are lit by street lamps and the flickering TV set. Five stories about friendship, booze, and the slow collapse of western civilization.

		/ 				%p Published in 2016 by Alternative Comics.




	.content-row

		.column
			%h2 Check Out The Store
				
			.link-card
				= link_to "https://ohioisforsale.bigcartel.com/products", :target=>'_blank' do
					.img	
						= image_tag '/images/IMG_5490.gif', :class=>'img-resize'

					.text-wrap
						%p 
							Check out my BigCartel store for books and individual issues of Ohio Is For Sale.





		.column
			%h2 Follow Me On Instagram
			
			.link-card
				= link_to "https://www.instagram.com/ohioisforsale/", :target=>'_blank' do
					.img
						= image_tag '/images/theartist.gif', :class=>'img-resize'
					.text-wrap
						%p Follow me on Instagram to see sketches, new comics, and lots of other dumb stuff.				
		
	
		.column
			%h2 About This Comic
			
			.link-card
				= link_to "/about.html" do
					.img	
						= image_tag '/images/cover-large-1.gif', :class=>'img-resize'

					.text-wrap
						%h2.strong About Ohio Is For Sale

						%p An overview of what this is all about, plus character bios.

		/ .column.column-double
		/ 	%h2.mobile-hide &nbsp;
			
		/ 	.link-card
		/ 		= link_to "/work-in-progress.html" do
		/ 			.img	
		/ 				= image_tag '/images/veronika-banner-5.jpg', :class=>'img-resize'

		/ 			.text-wrap
		/ 				%h2.strong About the Thing I've Been Posting on Instagram Lately

		/ 				%p I've been serializing a new comic on Instagram for the last few months. Check here for an ongoing plot synopsis and character list.	

									
	.clear				
