---
title: 'Press | '
---

.row
	%h2.strong
		Press

	%p
		.strong
			= link_to 'Foreword Reviews', 'https://www.forewordreviews.com/reviews/julian-in-purgatory/', :target => '_blank'
		Peter Dabbene | 2021

	%p
		.strong
			= link_to 'Kirkus', 'https://www.kirkusreviews.com/book-reviews/jon-allen/julian-in-purgatory/', :target => '_blank'
		2021

	%p
		.strong
			= link_to 'Tipped In', 'https://francoisvigneault.medium.com/review-julian-in-purgatory-by-jon-allen-b31d82e3e502', :target => '_blank'
		François Vigneault | 2020

	%p
		.strong
			= link_to 'Broken Frontier', 'http://www.brokenfrontier.com/lonesome-era-jon-allen-iron-circus-comics/', :target => '_blank'
		Robin Enrico | 2019			

	%p
		.strong
			= link_to 'Comics Beat', 'https://www.comicsbeat.com/indie-view-the-lonesome-era-features-funny-animals-in-real-predicaments/', :target => '_blank'
		John Seven | 2019	

	%p
		.strong
			= link_to 'Foreward Reviews', 'https://www.forewordreviews.com/reviews/the-lonesome-era/', :target => '_blank'
		Peter Dabbene | 2019					

	%p
		.strong
			= link_to 'Publishers Weekly', 'https://www.publishersweekly.com/978-1-945820-38-0', :target => '_blank'
		2019			

	%p
		.strong
			= link_to 'High Low', 'http://highlowcomics.blogspot.com/2017/02/minis-jporcellino-hsimple-jallen.html', :target => '_blank'
		Rob Clough | 2017		

	%p
		.strong
			= link_to 'Book Threat', 'https://bookthreat.com/2016/11/10/drinking-like-cats-and-dogs/', :target => '_blank'
		Sarah Hunt | 2017
	%p
		.strong
			= link_to 'High-Low', 'http://highlowcomics.blogspot.com/2016/09/alternative-kevin-scalzo-jon-allen.html', :target => '_blank'
		Rob Clough | 2016
	%p
		.strong
			= link_to 'ComicAlly', 'https://samquixote.blogspot.com/2016/11/ohio-is-for-sale-by-jon-allen-review.html', :target => '_blank'
		Noel Thorne | 2016	
	%p
		.strong
			= link_to 'The Comics Journal', 'http://www.tcj.com/reviews/ohio-is-for-sale/', :target => '_blank'
		Robert Kirby | 2016	
	%p
		.strong
			= link_to 'Comics Beat', 'http://www.comicsbeat.com/review-ohio-is-for-sale-hilarious-slacker-comedy-or-sisyphean-nightmare/', :target => '_blank'	
		John Seven | 2016	
	/ %p
	/ 	.strong
	/ 		= link_to 'InFurNation', 'http://www.infurnation.com/2016/11/06/funny-animals-live-and-die-in-suburbia/', :target => '_blank'
	/ 	2016			
	%p
		.strong
			= link_to 'Brooklyn Paper', 'http://www.brooklynpaper.com/stories/39/26/24-suburban-animals-comic-2016-06-24-bk.html', :target => '_blank'
		Claire McCartney | 2016	
	%p
		.strong
			= link_to 'The Comics Alternative', 'http://comicsalternative.com/episode-186-may-previews-catalog/', :target => '_blank'
		Podcast | 2016							
	%p
		.strong
			= link_to 'Publishers Weekly', 'http://www.publishersweekly.com/978-1-934460-82-5', :target => '_blank'	
		2016
	%p
		.strong
			= link_to 'Bleeding Cool', 'http://www.bleedingcool.com/2015/10/21/ohio-is-for-sale-but-the-comic-is-free/', :target => '_blank'
		Hannah Means-Shannon | 2015					
	%p
		.strong
			= link_to 'The Guardian', 'https://www.theguardian.com/music/2015/dec/06/jeffrey-lewis-on-my-radar-manhattan-fuff-alex-ross', :target => '_blank'
		Jeffrey Lewis | 2015		
	%p
		.strong
			= link_to 'Optical Sloth', 'http://www.opticalsloth.com/?p=22949', :target => '_blank'
		Kevin Bramer | 2014				
	%p
		.strong
			= link_to 'The Comics Journal', 'http://www.tcj.com/im-all-about-the-love-baby-blossom/', :target => '_blank'			
		Tucker Stone | 2013	