---
title: 'Support | '
---

.header-push

.page-wrap.flex-wrap
	.row
		%h2.strong
			If you liked reading my comics, here are some ways you can help me out:

		%p
			Follow me on 
			= link_to 'Instagram.', 'https://www.instagram.com/ohioisforsale/', :target => '_blank'

		%p
			Buy some issues in
			= link_to 'my store.', 'http://ohioisforsale.bigcartel.com/', :target => '_blank'

		%p
			Buy the
			= link_to 'collection.', 'http://indyworld.com/imprints/alternative-comics/jon-allen/ohio-is-for-sale/', :target => '_blank'

		%p
			Throw me a few dollars on 
			= link_to 'Patreon.', 'https://www.patreon.com/bePatron?u=18654179', :target => '_blank'

		%p
			Or buy me some trash metal from
			= link_to 'my Bandcamp wishlist.', 'https://bandcamp.com/batatut/wishlist', :target => '_blank'

