---
title: 'About The Current Thing | '
---

.page-wrap.about
	%h1.strong.left About the Thing I've Been Posting on Instagram Lately

	.portrait
		= image_tag "characters/portrait-veronika.jpg"
		%label Veronika
	%p 
		So I’m currently serializing a new story on Instagram, which starts 
		= link_to "here.", "https://www.instagram.com/p/CKEd84ajDCU/?utm_source=ig_web_copy_link", :target=>'_blank' 
		It’s part of the overall Ohio Is For Sale universe, which you can read more about 
		= link_to "here.", "/about.html"
		This one is about this girl
		%strong Veronika,
		who’s appeared in a few of my comics, most notably as the older sister in 
		= link_to "The Lonesome Era.", "https://ohioisforsale.bigcartel.com/product/the-lonesome-era", :target=>"_blank"
		It’s going to be a pretty long one, so I thought it’d be a good idea to maintain a little ongoing summary and character overview in case anybody gets lost along the way.
	.portrait.portrait-right
		= image_tag "characters/portrait-matt.jpg"
		%label Matt
	%p 
		Veronika is twenty four years old and living with her parents and younger brother, and she hates it. Her big goal right now is to get out of there as soon as possible. Veronika’s boyfriend 
		%strong Matt
		is going on tour with his band for a month and she’s going to crash at his gross little apartment while he’s away. They’ve talked about moving in together but Matt doesn’t seem very committed to the idea, and if she’s being honest with herself, Veronika’s not totally convinced that she is either.

	.portrait.portrait
		= image_tag "characters/portrait-persephone.jpg"
		%label Persephone		
	%p 
		When the story begins, Veronika’s been unemployed for over a year. She dropped out of college a few years ago and she’s been kind of drifting ever since. But she’s about to start a new job doing database work for a mysterious chemical company, and she’s feeling excited to be moving things forward again.
	.portrait.portrait-right
		= image_tag "characters/portrait-dave.jpg"
		%label Dave
	%p 
		The office is an anonymous corporate heap of polygons with a big graphic of a pine tree on the front. When Veronika arrives, she’s greeted by 
		%strong Persephone
		the receptionist, and 
		%strong Dave,
		one of her new coworkers. Right off the bat it seems like Dave probably has a crush on Veronika. Persephone shows her around the office and takes her to 
		%strong Jake,
		the owner of the company.
	.portrait
		= image_tag "characters/portrait-jake.jpg"
		%label Jake	
	%p 
		Jake explains that the company makes a number of productivity-enhancing supplements, designed to improve focus, concentration, memory, etc – ideal for the kind of office lifestyle that Veronika’s signed herself up for. He sends her away with a sample bottle and Persephone returns to take Veronika to her desk.
	.portrait.portrait-right
		= image_tag "characters/portrait-susan.jpg"
		%label Susan	
	%p 
		On the way they run into 
		%strong Susan,
		Jake’s wife. Susan reminds Persephone that she’s waiting for a package, and tells her that she’d better be back at the reception desk when it shows up.

	/ %p Veronika arrives at her workstation, and Dave helps her get set up on the computer. Meanwhile, Persephone delivers the package to Susan. Susan tells Persephone that the package contains a reagent for producing a chemical reaction, something they’re using to develop a new product.

	/ %p That night, back at Matt’s apartment, Veronika has dinner and gets herself settled in to her new home. The place is a mess, but she’s thinks that with a little work, she can at least make it livable while she’s there. While she’s having a cup of tea, there's a knock on the door. A girl Veronika’s never met is outside, looking for Matt. Veronika becomes suspicious and the girl runs off into the night.

	/ %p Back at the office, Veronika’s getting accustomed to her routine. She sits at her desk, has coffee and codes. When the afternoon rolls around, she starts to feel tired .Rather than go back down to the kitchen for more coffee, she decides to try the little bottle she had gotten from Jake.

	/ %p Up on the roof, Persephone and Dave have lunch together. They talk about Veronika, and Persephone gets Dave to confess that he’s interested in her romantically. Persephone admits that she might be, too.

	%p That's it so far! Check back here for ongoing updates.

	.clear